:root {
  --main-font-color: #000;
  --second-font-color: #888;
  --main-bg: #fff;
  --second-bg: #F1F5F9;
  --third-bg: #eee;
  --red: #F44336;
  --blue: #0075FF;
  --orange: #F59E0B;
  --green: #22c55e;


  --time-trannsition: 0.3s;
  --radius: 10px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.border-radius {
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--main-bg);
}
::-webkit-scrollbar-thumb {
  background: var(--blue);
}
body {
  display: flex;
  font-family: 'Open Sans', sans-serif;
}
:is(a, ul, li, input, button, textarea) {
  all: initial;
}
button:hover {
  background-image: linear-gradient(rgb(0 0 0 / 0.2), rgb(0 0 0 / 0.2)) !important; 
  cursor: pointer;
}
.hover {
  background: #f6f6f6;
}
/* toggle button */
.checkbtn-div {
  background: var(--second-font-color);
  cursor: pointer;
  width: 75px;
  height: 30px;
  position: relative;
  border-radius: 50px;
  transition: 0.5s;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.checkbtn-div::before {
  content: '\e5cd';
  font-family: 'Material Icons';
  position: absolute;
  top: 5px;
  left: 5px;
  color: var(--second-font-color);
  font-size: 20px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
input:checked + .checkbtn-div {
  background: var(--blue);
}
input:checked + .checkbtn-div::before {
  content: '\e876';
  color: var(--blue);
  left: calc(100% - (5px + 20px));
}
/* for sections and header init and paragraph after */
main > .container > .container > section {
  background-color: var(--main-bg);
  border-radius: var(--radius);
  padding: 20px;
  overflow: hidden;
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}
main > .container > .container > section > h2,
main > .container > .container > section > header > h2 {
  text-transform: capitalize;
  color: var(--main-font-color);
  margin-bottom: 10px;
}
section > header > h2 + p,
section > header > div h2 + p {
  color: var(--second-font-color);
  text-transform: capitalize;
  margin: 10px 0;
  font-size: 14px;
}
section > div h2 {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
}
/* start nav left */
header > nav {
  padding: 20px;
  height: 100%;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.3);
  background: var(--main-bg);
  position: relative;
  min-height: 100vh;
}
header > nav > h2 {
  width: max-content;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  text-transform: capitalize;
  position: relative;
  color: var(--main-font-color);
}
header > nav > h2::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--main-font-color);
}
header > nav > h2::after {
  content: '';
  position: absolute;
  bottom: -7.5px;
  outline: 5px solid var(--main-bg);
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--main-font-color);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
header > nav > ul {
  display: grid;
}
header > nav > ul > li {
  width: 150px;
  border-radius: 10px;
  margin-bottom: 5px;
  color: var(--main-font-color);
  cursor: pointer;
  transition: var(--time-trannsition);
  -webkit-transition: var(--time-trannsition);
  -moz-transition: var(--time-trannsition);
  -ms-transition: var(--time-trannsition);
  -o-transition: var(--time-trannsition);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
header > nav > ul > li:hover {
  background: #F6F6F6;
}
header > nav > ul > li > a {
  text-transform: capitalize;
  font-family: 'Open-sans', sans-serif;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media only screen and (max-width: 800px){
  header > nav > h2 {
      font-size: 16px;
      padding: 0;
      padding-bottom: 10px;
  }
  header > nav {
    padding: 10px;
  }
  header > nav > ul > li {
    width: auto;
  }
  header > nav > ul > li > a {
    width: 20px;
    overflow: hidden;
  }
}
/* end left nav */
/* start top nav */
main {
  width: 100%;
}
main > * {
  padding: 20px;
}
main > nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--main-bg);
}
main > nav .search-box {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  border: 1px solid var(--second-font-color);
  padding: 5px;
  width: 200px;
}
main > nav .search-box:focus-visible {
  width: 250px;
}
main > nav input {
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}
main > nav .search-box > i {
  color: var(--second-font-color);
  font-size: 20px;
}
main > nav > .right {
  display: flex;
  align-items: center;
  gap: 10px;
}
main > nav > .right > i{
  position: relative;
  cursor: pointer;
}
main > nav > .right > i::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--red);
  position: absolute;
  right: 0;
  top: -5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
main > nav img {
  width: 30px;
}
/* end top nav */
/* start content in main */
main > .container {
  background-color: #F1F5F9;
}
main > .container > h2 {
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 30px;
  width: max-content;
  position: relative;
  padding-bottom: 10px;
  z-index: 1;
}
main > .container > h2::after {
  content: '';
  width: 70%;
  height: 4px;
  background-color: var(--main-bg);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
}
main > .container > h2::before {
  content: '';
  width: 20%;
  height: 4px;
  background-color: var(--main-font-color);
  position: absolute;
  bottom: 0;
}
main > .container > .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}
@media only screen and (max-width: 600px) { 
  main > .container > .container {
    grid-template-columns: minmax(100px, 1fr);
  }
}
.welcome {
  padding: 0 !important;
}
.welcome > header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--third-bg);
}
.welcome > header h2 {
  font-size: 30px;
  text-transform: capitalize;
  color: var(--main-font-color);
}
.welcome > header p {
  color: var(--second-font-color);
  text-transform: capitalize;
}
.welcome > header img {
  width: 200px;
}
.welcome > img {
  width: 70px;
  border: 4px solid var(--main-bg);
  margin-top: -35px;
  margin-left: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.welcome > img + section {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
  font-size: 16px;
  border-top: 1px solid var(--third-bg);
  border-bottom: 1px solid var(--third-bg);
  margin: 20px 0;
}
.welcome > img + section h2 {
  font-size: 18px;
  font-weight: normal;
  text-transform: capitalize;
}
.welcome > img + section p {
  color: var(--second-font-color);
}
.welcome > button {
  background-color: var(--blue);
  padding: 5px 10px;
  color: #fff;
  font-family: inherit;
  float: right;
  margin-right: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  .welcome > header img {
    display: none;
  }
  .welcome > img {
    margin-left: calc(50% - 35px);
  }
  .welcome > img + section {
    flex-direction: column;
    gap: 10px;
  }
  .welcome > img + section > div > h2 {
    margin-bottom: 5px;
  }
} 
/* end welcome section */
/* start quick-draft */
.quick-draft {
  display: grid;
  align-items: flex-start;
  gap: 20px;
}
.quick-draft > p {
  color: var(--second-font-color);
}
.quick-draft > :is(input, textarea) {
  background-color: var(--third-bg);
  padding: 10px;
  font-family: inherit;
  font-size: 14px;
}
.quick-draft > textarea {
  min-height: 180px;
  resize: none;
  overflow-wrap: break-word;
}
.quick-draft > button {
  width: fit-content; 
  background: var(--blue);
  color: #fff;
  font-family: inherit;
  text-transform: capitalize;
  cursor: pointer;
  padding: 5px 10px;
  justify-self: end;
}
/* end quick-draft */
.yearly-target {
  display: grid;
  gap: 20px;
  text-transform: capitalize;
}
.yearly-target > p {
  color: var(--second-font-color);
  font-size: 14px;
}
.yearly-target > div {
  display: grid;
  grid-template-columns: 80px auto;
  gap: 0 20px;
}
.yearly-target > div > i {
  grid-row: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}
.yearly-target > div > i ,
.yearly-target > div > progress::-webkit-progress-bar {
  background-image: linear-gradient(rgb(255 255 255 / .8),rgb(255 255 255 / .8) );
}
.yearly-target > div:nth-of-type(1) > i {
  color: var(--blue);
  background-color: var(--blue);
}
.yearly-target > div:nth-of-type(2) > i {
  color: var(--orange);
  background-color: var(--orange);
} 
.yearly-target > div:nth-of-type(3) > i {
  color: var(--green);
  background-color: var(--green);
} 
.yearly-target > div > h2 {
  font-size: 16px;
  font-weight: 500;
  color: var(--second-font-color);
}
.yearly-target > div > p {
  color: var(--main-font-color);
  font-weight: 700;
  font-size: 18px;
}
.yearly-target > div > progress {
  width: 100%;
  border-radius: 0;
  height: 5px;
  position: relative;
}
.yearly-target > div:nth-of-type(1) > progress::-webkit-progress-bar,
.yearly-target > div:nth-of-type(1) > progress::-webkit-progress-value {
  background-color: var(--blue);
}
.yearly-target > div:nth-of-type(2) > progress::-webkit-progress-bar,
.yearly-target > div:nth-of-type(2) > progress::-webkit-progress-value {
  background-color: var(--orange);
}
.yearly-target > div:nth-of-type(3) > progress::-webkit-progress-bar,
.yearly-target > div:nth-of-type(3) > progress::-webkit-progress-value {
  background-color: var(--green);
}
.yearly-target > div > progress::before {
  position: absolute;
  bottom: 20px;
  font-size: 12px;
  width: 25px;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.yearly-target > div > progress::after {
  content: '';
  position: absolute;
  bottom: 10px;
  border: 5px solid transparent;
} 
.yearly-target > div:nth-of-type(1) > progress::before {
  content: '80%';
  left: calc(80% - 20px);
  background: var(--blue);
}
.yearly-target > div:nth-of-type(1) > progress::after {
  left: calc(80% - 7.5px);
  border-color: var(--blue) transparent transparent transparent;
} 
.yearly-target > div:nth-of-type(2) > progress::before {
  content: '55%';
  left: calc(55% - 20px);
  background: var(--orange);
}
.yearly-target > div:nth-of-type(2) > progress::after {
  left: calc(55% - 7.5px);
  border-color: var(--orange) transparent transparent transparent;
} 
.yearly-target > div:nth-of-type(3) > progress::before {
  content: '75%';
  left: calc(75% - 20px);
  background: var(--green);
}
.yearly-target > div:nth-of-type(3) > progress::after {
  left: calc(75% - 7.5px);
  border-color: var(--green) transparent transparent transparent;
}
/* start ticket */
.ticket {
  display: grid;
  gap: 20px;
}
.ticket > p {
  color: var(--second-font-color);
  text-transform: capitalize;
}
.ticket > .content {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.ticket > .content > section {
  padding: 20px 0;
  border: 1px solid var(--third-bg);
  border-radius: 10px;
  display: grid;
  justify-items: center;
  gap: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.ticket > .content > section > i {
  font-size: 35px;
}
.ticket > .content > section:nth-of-type(1) > i {
  color: var(--orange);
}
.ticket > .content > section:nth-of-type(2) > i {
  color: var(--blue);
}
.ticket > .content > section:nth-of-type(3) > i {
  color: var(--green);
  border-radius: 50%;
  outline: 3px solid var(--green);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.ticket > .content > section:nth-of-type(4) > i {
  color: var(--red);
  border-radius: 50%;
  outline: 3px solid var(--red);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.ticket > .content > section > p {
  color: var(--second-font-color);
  text-transform: capitalize;
  font-size: 14px;
}
/* end ticket */
/* start latest news */
.latest-news {
  display: grid;
  gap: 20px;
}
.latest-news > .content > section {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  padding: 20px 0;
}
.latest-news img {
  width: 100px;
  grid-row: 1/3;
}
.latest-news > .content > section:not(:last-of-type) {
  border-bottom: 1px solid var(--third-bg);
}
.latest-news > .content > section > h2 {
  font-size: 16px;
  text-transform: capitalize;
}
.latest-news > .content > section > p:nth-of-type(1) {
  grid-column: 2/3;
  color: var(--second-font-color);
  text-transform: capitalize;
  font-size: 14px;
}
.latest-news > .content > section > p:nth-of-type(2) {
  margin-top: -20px;
  font-size: 14px;
  background: var(--third-bg);
  height: fit-content;
  padding: 5px 10px;
  text-transform: capitalize;
}

@media only screen and (max-width: 600px) { 
  .latest-news > .content > section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .latest-news > .content > section > * {
    margin: 0 !important;
  }
}
/* end latest news */
/* start latest tasks */
.latest-tasks > section {
  padding: 20px 0;
  display: grid;
  grid-template-columns: auto auto;
  border-bottom: 1px solid var(--third-bg);
}
.latest-tasks > section > h2 {
  text-transform: capitalize;
  font-size: 16px;
}
.latest-tasks > section > p {
  text-transform: capitalize;
  font-size: 14px;
  color: var(--second-font-color);
  grid-column: 1/2 ;
}
.latest-tasks > section > i {
  justify-self: end;
  margin-top: -20px;
  cursor: pointer;
  transition: var(--time-trannsition);
  -webkit-transition: var(--time-trannsition);
  -moz-transition: var(--time-trannsition);
  -ms-transition: var(--time-trannsition);
  -o-transition: var(--time-trannsition);
}
.latest-tasks > section > i:hover {
  color: red;
}
.latest-tasks > section:nth-last-child(2) {
  opacity: 0.2;
}
.latest-tasks > section:nth-last-child(2) > h2 {
  text-decoration: line-through;
}
.latest-tasks > section:nth-last-child(2) > p {
  text-decoration: line-through;
}
/* end latest tasks */
/* search-item */
.search-item {
  display: grid;
  gap: 20px;
}
.search-item > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-item > section:nth-of-type(1) {
  text-transform: capitalize;
  color: var(--second-font-color);
}
.search-item > section > h2 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: normal;
}
.search-item > section:not(:nth-of-type(1)) > p {
  background: var(--third-bg);
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* end search-item */
/* start latest uploads */
.latest-uploads {
  display: grid;
  gap: 20px;
}
.latest-uploads > .content {
  display: inherit;
  gap: inherit;
}
.latest-uploads > .content > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.latest-uploads > .content > section > .left {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 10px;
}
.latest-uploads > .content h2 {
  font-weight: normal;
  font-size: 18px;
}
.latest-uploads > .content > section > .left p {
  color: var(--second-font-color);
  text-transform: capitalize;
  font-family: inherit;
}
.latest-uploads img {
  width: 40px;
  grid-row: 1/3;
}
.latest-uploads > .content > section > .right {
  background: var(--third-bg);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* end latest uploads */
/* start progress-project */
.progress-project {
  display: grid;
  align-content: start;
  gap: 20px;
  background-image: linear-gradient(rgb(255 255 255 / 0.9), rgb(255 255 255 / 0.9)), url('./imgs/project.png');
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.progress-project > ul {
  display: grid;
  gap: 30px;
}
.progress-project > ul > li {
  position: relative;
  margin-left: 45px;
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
}
.progress-project > ul > li:not(:last-child):after {
  content: '';
  position: absolute;
  width: 2px;
  height: 20px;
  left: -32.5px;
  bottom: -25px;
  background: var(--blue);
}
.progress-project > ul > li::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background: var(--blue);
  border-radius: 50%;
  border: 2px solid #fff;
  outline: 2px solid var(--blue);
  left: -45px;
  bottom: -4.2px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.progress-project > ul > li:nth-last-of-type(2):before {
  animation: pop linear 1s infinite alternate;
  -webkit-animation: pop linear 1s infinite alternate;
} 
.progress-project > ul > li:last-of-type::before {
  background: var(--main-bg);
}
@keyframes pop {
  0% {
    background: var(--blue);
  }
  100% {
    background: var(--main-bg);
  }
}
/* end progress-project */
/* start reminder */
.reminder {
  display: grid;
  gap: 15px;
}
.reminder > .content {
  display: grid;
  gap: 20px;
}
.reminder > div > section {
  padding-left: 50px;
  position: relative;
}
.reminder > div > section::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.reminder > div > section::after {
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 35px;
}
.reminder > div > section:nth-of-type(1)::after,
.reminder > div > section:nth-of-type(1)::before {
  background-color: var(--blue);
}
.reminder > div > section:nth-of-type(2)::after,
.reminder > div > section:nth-of-type(2)::before {
  background-color: var(--green);
}
.reminder > div > section:nth-of-type(3)::after,
.reminder > div > section:nth-of-type(3)::before {
  background-color: var(--orange);
}
.reminder > div > section:nth-of-type(4)::after,
.reminder > div > section:nth-of-type(4)::before {
  background-color: var(--red);
}
.reminder > div > section > h2 {
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 10px;
}
.reminder > div > section > p {
  font-size: 14px;
  color: var(--second-font-color);
}
/* end reminder */
/* start latest-post */
.latest-post {
  display: grid;
  gap: 20px;
}
.latest-post > div {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;
}
.latest-post > div > img {
  width: 50px;
  grid-row: 1/3;
}
.latest-post > div > h2 {
  font-size: 18px;
}
.latest-post > div > p {
  color: var(--second-font-color);
}
.latest-post > p {
  border-top:1px solid var(--third-bg);
  border-bottom:1px solid var(--third-bg);
  min-height: 120px;
  padding: 20px 0;
}
.latest-post > footer {
  display: flex;
  justify-content: space-between;
}
.latest-post > footer > * {
  display: flex;
  color: var(--second-font-color);
}
/* end latest-post */
/* start stats */
.stats {
  display: grid;
  gap: 10px;
}
.stats > h2 {
  margin-top: 10px;
}
.stats > div {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 20px;
  align-items: baseline;
}
.stats > div > i {
  grid-row: 1/3;
  width: 55px;
  height: 55px;
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats > div > i:hover {
  transform: rotate(5deg);
  transition: var(--time-trannsition);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -webkit-transition: var(--time-trannsition);
  -moz-transition: var(--time-trannsition);
  -ms-transition: var(--time-trannsition);
  -o-transition: var(--time-trannsition);
}
.stats > div > *:not(i) {
  text-transform: capitalize;
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
.stats > div > button {
  margin-right: 15px;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
} 
.stats > div:nth-of-type(1) > button {
  background: #1da1f2;
}
.stats > div:nth-of-type(1) {
  background: #1da1f2;
  background-image: linear-gradient(rgb(255 255 255 / 0.8), rgb(255 255 255 / 0.8));
}
.stats > div:nth-of-type(1) > i {
  background: #1da1f2;
}
.stats > div:nth-of-type(1) > p {
  color: #1da1f2;
}
.stats > div:nth-of-type(2) > button {
  background: var(--blue);
}
.stats > div:nth-of-type(2) {
  background: var(--blue);
  background-image: linear-gradient(rgb(255 255 255 / 0.8), rgb(255 255 255 / 0.8));
}
.stats > div:nth-of-type(2) > i {
  background: var(--blue);
}
.stats > div:nth-of-type(2) > p {
  color: var(--blue);
}
.stats > div:nth-of-type(3) > button {
  background: red;
}
.stats > div:nth-of-type(3) {
  background: red;
  background-image: linear-gradient(rgb(255 255 255 / 0.8), rgb(255 255 255 / 0.8));
}
.stats > div:nth-of-type(3) > i {
  background: red;
}
.stats > div:nth-of-type(3) > p {
  color: red;
}
.stats > div:nth-of-type(4) > button {
  background: #0077B5;
}
.stats > div:nth-of-type(4) {
  background: #0077B5;
  background-image: linear-gradient(rgb(255 255 255 / 0.8), rgb(255 255 255 / 0.8));
}
.stats > div:nth-of-type(4) > i {
  background: #0077B5;
}
.stats > div:nth-of-type(4) > p {
  color: #0077B5;
}
/* end stats */
/* start projects */
.projects {
  overflow: auto !important;
}
.projects > h2 {
  margin-bottom: 20px;
}

.projects img {
  width: 40px;
  border-radius: 50%;
  position: relative;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.projects img:not(:first-child) {
  margin-left: -20px ;
}
.projects img:hover {
  z-index: 10;
  cursor: pointer;
}
@media only screen and (min-width: 1050px) and (max-width: 1500px) {
  .projects {
    grid-column: 1/3;
  }
}
@media only screen and (min-width: 1500px) {
  .projects {
    grid-column: 1/4;
  }
}
.projects > table {
  width: 100%;
  border-collapse: collapse;
  min-width: 900px;
}
.projects > table > thead {
  background: var(--third-bg);
  border: 1px solid var(--third-bg);
}
.projects > table > thead > tr > th {
  text-align: start;
  padding: 20px;
  text-transform: capitalize;
}
.projects > table > tbody > tr > td {
  padding: 10px;
  border: 1px solid var(--third-bg);
  text-transform: capitalize;
}
.projects > table > tbody > tr:hover > td {
  background: rgb(0 0 0 / .015);
}
.projects > table > tbody > tr > td:last-of-type > p {
  padding: 5px 10px;
  max-width: fit-content;
  font-size: 14px;
  border-radius: 5px;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.projects > table > tbody > tr:nth-of-type(1) > td:last-of-type > p {
  background: var(--orange);
}
.projects > table > tbody > tr:nth-of-type(2) > td:last-of-type > p {
  background: var(--blue);
}
.projects > table > tbody > tr:is(:nth-of-type(3), :nth-of-type(4), :nth-of-type(6)) > td:last-of-type > p {
  background: var(--green);
}
.projects > table > tbody > tr:nth-of-type(5) > td > p {
  background: var(--red);
}
/* end projects */
/* end content in main */
